In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('1000Apps.csv')

In [3]:
df.head()

,name,numDownloadsMin,fileSize,price,aggregateRating,ratingCount
0,FSP Power App,500,12M,0.0,3.967742,31
1,FSP Autofahrer-App,500,"1,3M",0.0,3.818182,11
2,Art-picnic FSP,500,"2,7M",0.0,4.722222,18
3,Tennis F.S.P,1,"4,5M",0.0,0.000000,0
4,Super Piano FREE HD,100000,"4,1M",0.0,3.982524,1545

In [4]:
print(len(df))

1050

In [5]:
df=df.drop_duplicates(keep='first')
print(len(df))

1049

In [6]:
df.corr()

                 numDownloadsMin     price  aggregateRating  ratingCount
numDownloadsMin         1.000000 -0.027678         0.050378     0.595505
price                  -0.027678  1.000000        -0.309701    -0.014655
aggregateRating         0.050378 -0.309701         1.000000     0.031179
ratingCount             0.595505 -0.014655         0.031179     1.000000

In [7]:
df.corr(method='spearman')

                 numDownloadsMin     price  aggregateRating  ratingCount
numDownloadsMin         1.000000 -0.469875         0.212178     0.933613
price                  -0.469875  1.000000        -0.222930    -0.375129
aggregateRating         0.212178 -0.222930         1.000000     0.301035
ratingCount             0.933613 -0.375129         0.301035     1.000000

In [ ]:
df.plot()